.custom-card {
  width: 600px;
  max-width: 100%;
}

.custom-title {
  color: #1976d2;
  font-size: 18px;
  font-weight: bold;
}

.custom-subtitle {
  color: gray;
  font-size: 16px;
}

.custom-content {
  color: black;
  font-size: 15px;
}
