.player {
  width: 300px;
  display: flex;
  align-items: center;
  gap: 24px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  background-color: black;
  color: antiquewhite;
  span {
    font-size: 24px;
  }

  img {
    width: 44px;
    height: 44px;
    object-fit: cover;
  }
}
.active-Player {
  background-color: orange !important;
  color: darkblue;
}
